{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center py-5">
    <div class="col-lg-6 text-center">
        <div class="mb-5">
            <h1 class="mb-3">Project Work - Gruppo 19</h1>
            <p class="lead text-muted">
                <strong>Cuomo Carmine</strong> 0622702688 <br>
                <strong>Mario D'Aniello</strong> 0622702628
            </p>
        </div>
        
        <div class="d-grid gap-4">
            <a href="/login" class="btn btn-primary btn-lg py-3">Accedi al sistema</a>
        </div>
    </div>
</div>
{% endblock %}