{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center py-5">
    <div class="col-md-5">
        <div class="card">
            <div class="card-body p-4">
                <h5 class="text-center mb-4">Accedi al sistema</h5>
                
                {% if error %}
                <div class="alert alert-danger small mb-4">
                    {{ error }}
                </div>
                {% endif %}
                
                <form method="post">
                    <div class="mb-3">
                        <label class="form-label">Username</label>
                        <input type="text" class="form-control" name="username" required>
                        <div class="form-text small">Utenti demo: issuer_rennes, verifier_unisa, studente_mariorossi</div>
                    </div>
                    <div class="mb-4">
                        <label class="form-label">Password</label>
                        <input type="password" class="form-control" name="password" required>
                        <div class="form-text small">Password demo: Unisa2025</div>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Accedi</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}